{{#if user.user}}

<h1>Usted no debería estar aquí</h1>

{{else}}
{{/if}}


{{#if user.owner}}
<h1>Usted no debería estar aquí</h1>

{{else}}
{{/if}}


{{#if user.admin}}

<div class="row">
    <h3>Admin</h3>

    <div class="">
        {{!-- Navegador de pestañas --}}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Perfil Admin</a></li>
            <li><a data-toggle="tab" href="#menu1">Clients</a></li>
            <li><a data-toggle="tab" href="#menu2">Alumnos</a></li>
            <li><a data-toggle="tab" href="#menu4">Payments</a></li>
            <li><a data-toggle="tab" href="#menu5">Expenses</a></li>
            <li><a data-toggle="tab" href="#menu3">Staff</a></li>
            {{!-- 
            
            <li><a data-toggle="tab" href="#menu5">Actividades</a></li> --}}

        </ul>

        <div class="tab-content ">
            <div id="home" class="tab-pane fade in active p3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Perfil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Actualizar datos</li>
                    </ol>
                </nav>



                <div class="card hovercard">
                    <div class="cardheader">

                    </div>

                    <div class="info">

                        <div class="desc"> user name : {{user.username}}</div>
                        <div class="desc">desde :{{user.created_at}}</div>
                        <div class="desc">crypto :{{user.pass}}</div>
                    </div>
                    {{!
                    <div class="bottom top2">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div> --}}
                </div>

                <div class="col-lg-6 col-md-g col-sm-6">
                    <h3>Administración</h3>
                    <div class="top2 table-wrapper-scroll-y">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Ver</th>

                                </tr>
                            </thead>
                            <tbody id="usersT">


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

            {{!-- Pestañas --}}
            <div id="menu1" class="tab-pane fade p3">
                <h3>Clientes</h3>




                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="top2 table-wrapper-scroll-y">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nombre / Parentesco</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Mail</th>
                                <th>Acción</th>

                            </tr>
                        </thead>
                         <input type="text" id="myInputclients" onkeyup="LookFor_Clients()" placeholder="Buscar cliente ..." class="form-control" title="Type in a name">
                        <tbody id="clientsT">

                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <form action="/add-client" method="POST">


                        <h4>Datos de cliente</h4>
                        <br>
                        <input type="submit" value="crear" class="btn btn-default pull-right">
                        <label for="">Nombre required</label><br>
                        <input class="form-control" type="text" name="name_padre" placeholder="Nombre" required><br>

                        <label for="">Parentesco</label><br>
                        <input class="form-control" type="text" name="parentesco" placeholder="parentesco" required><br>
                        <label for="">Escolaridad</label><br>
                        <input class="form-control" type="text" name="escolaridad_padre" placeholder="Escolaridad"
                            required><br>


                        <label for="">Ocupación</label><br>
                        <input class="form-control" type="text" name="ocupacion_padre" placeholder="Ocupación"
                            required><br>

                        <label for="">Institución de trabajo</label><br>
                        <input class="form-control" type="text" name="trabajo_padre" placeholder="Institución u oficina"
                            required><br>


                        <label for="">Teléfono</label><br>
                        <input class="form-control" type="text" name="phone_padre" placeholder="telefono" required><br>

                        <label for="">Oficina Teléfono</label><br>
                        <input class="form-control" type="text" name="oficina_padre" placeholder="oficina" required><br>

                        <label for="exampleInputEmail1">Email address</label><br>
                        <input class="form-control" type="email" name="mail_padre" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
                            required><br>




                    </form>
                </div>

                {{!Owner table}}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">



                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModalsubClient" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Datos de cliente : <label for="">{{user.username}}</label></h4>
                            </div>
                            <div class="modal-body">
                                <form action="/auth/signup-client" enctype="multipart/form-data" method="POST">

                                    <h4>Datos de alumno</h4>
                                    <br>

                                    <label for="">Nombre</label><br>
                                    <input class="form-control" type="text" name="name_alumno" placeholder="...."><br>
                                    <br>
                                    <label for="">Apellido Paterno</label><br>
                                    <input class="form-control" type="text" name="lastnameP_alumno"
                                        placeholder="...."><br>
                                    <label for="">Apellido Materno</label><br>
                                    <input class="form-control" type="text" name="lastnameM_alumno"
                                        placeholder="...."><br>


                                    <label for="">Alergias</label><br>
                                    <input class="form-control" type="text" name="alergias_alumno"
                                        placeholder="...."><br>

                                    <label for="">Tipo de Sangre</label><br>
                                    <input class="form-control" type="text" name="tiposangre_alumno"
                                        placeholder="...."><br>

                                    <label for="">Talla</label><br>
                                    <input class="form-control" type="text" name="talla_alumno" placeholder="...."><br>

                                    <label for="">Peso</label><br>
                                    <input class="form-control" type="text" name="peso_alumno" placeholder="...."><br>

                                    <label for="">Escuela de precendencia</label><br>
                                    <input class="form-control" type="text" name="precede_alumno"
                                        placeholder="...."><br>



                                    <label for="">Clave</label><br>
                                    <input class="form-control" type="text" name="clave_alumno"
                                        placeholder="Apellido Materno"><br>



                                    <h4>Datos del padre</h4>
                                    <br>

                                    <label for="">Nombre</label><br>
                                    <input class="form-control" type="text" name="name_padre" placeholder="Nombre"><br>
                                    <label for="">Escolaridad</label><br>
                                    <input class="form-control" type="text" name="escolaridad_padre"
                                        placeholder="Escolaridad"><br>


                                    <label for="">Ocupación</label><br>
                                    <input class="form-control" type="text" name="ocupacion_padre"
                                        placeholder="Ocupación"><br>

                                    <label for="">Institución de trabajo</label><br>
                                    <input class="form-control" type="text" name="trabajo_padre"
                                        placeholder="Institución u oficina"><br>


                                    <label for="">Teléfono</label><br>
                                    <input class="form-control" type="text" name="phone_padre"
                                        placeholder="telefono"><br>

                                    <label for="">Oficina Teléfono</label><br>
                                    <input class="form-control" type="text" name="oficina_padre"
                                        placeholder="oficina"><br>

                                    <label for="exampleInputEmail1">Email address</label><br>
                                    <input class="form-control" type="email" name="mail_padre" class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                                        autofocus><br>





                                    <h4>Datos de la madre</h4>
                                    <br>



                                    <label for="">Nombre</label><br>
                                    <input class="form-control" type="text" name="name_madre" placeholder="Nombre"><br>
                                    <label for="">Escolaridad</label><br>
                                    <input class="form-control" type="text" name="escolaridad_madre"
                                        placeholder="Escolaridad"><br>


                                    <label for="">Ocupación</label><br>
                                    <input class="form-control" type="text" name="ocupacion_madre"
                                        placeholder="Ocupación"><br>

                                    <label for="">Institución de trabajo</label><br>
                                    <input class="form-control" type="text" name="trabajo_madre"
                                        placeholder="Institución u oficina"><br>


                                    <label for="">Teléfono</label><br>
                                    <input class="form-control" type="text" name="phone_madre"
                                        placeholder="telefono"><br>

                                    <label for="">Oficina Teléfono</label><br>
                                    <input class="form-control" type="text" name="oficina_madre"
                                        placeholder="oficina"><br>

                                    <label for="exampleInputEmail1">Email address</label><br>
                                    <input class="form-control" type="email" name="mail_madre" class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                                        autofocus><br>




                                    <input type="text" value="{{user.id}}" name="id" class="hidden">

                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Actaulizar" class="btn btn-default">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>
                            </form>
                        </div>

                    </div>
                </div>


                {{! termina menu 1}}
            </div>
            <div id="menu2" class="tab-pane fade p3">
                <h3>Alumnos</h3>


                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div> <small id="genero-data"></small></div>
                    <div class="top2 table-wrapper-scroll-y">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Fecha de ingreso a sistema</th>
                                    <th scope="col">Estado</th>
                                    <th>Detalles</th>

                                </tr>
                            </thead>
                            <input type="text" id="myInput" onkeyup="LookFor_Alumnos()" placeholder="Buscar alumno ..." class="form-control"   title="Type in a name">
                            <tbody id="alumnosT">

                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div> <small id="nivel-data"></small></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <form action="/add-alumno" method="POST">
                        <input type="submit" class="btn btn-default pull-right" value="Crear">


                        <h4>Agregar de alumno</h4>
                        <br>
                        <label for="">Elegir tutor</label> <small>Esta es una lista de los actuales clientes</small>
                        <select class="form-control" name="id_client" id="clientselect" required>

                        </select>
                        <br>
                        <input class="form-control" type="text" name="name_alumno" placeholder="Nombre " required><br>
                        <input class="form-control" type="text" name="lastnameP_alumno" placeholder="Apellido Paterno"
                            required><br>
                        <input class="form-control" type="text" name="lastnameM_alumno" placeholder="Apellido Materno"
                            required><br>


                        <input class="form-control" type="text" name="alergias_alumno" placeholder="Alergias"
                            required><br>

                        <input class="form-control" type="text" name="tiposangre_alumno" placeholder="Tipo de Sangre"
                            required><br>

                        <input class="form-control" type="text" name="talla_alumno" placeholder="Talla" required><br>

                        <input class="form-control" type="text" name="peso_alumno" placeholder="Peso" required><br>

                        <input class="form-control" type="text" name="precede_alumno"
                            placeholder="Escuela de precendencia" required><br>

                        <input class="form-control" type="text" name="clave_alumno" placeholder="Clave" required><br>

                        <input class="form-control" type="text" name="colegiatura" placeholder="Colegiatura - $.00 mx"
                            required><br>




                    </form>
                </div>










                {{! termina menu 2}}
            </div>
            <div id="menu3" class="tab-pane fade p3">
                <h3>Staff</h3>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha de ingreso al sistema</th>
                            <th>Acción</th>

                        </tr>
                    </thead>
                    <tbody id="maestrosT">

                    </tbody>
                </table>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <form action="/add-personal" method="POST">
                        <input type="submit" class="btn btn-default pull-right" value="Crear">


                        <h4>Agregar de staff</h4>
                        <br>
                        <label for="">Elegir staff</label> <small>Esta es una lista de los actuales staff</small>

                        <br>
                        <input class="form-control" type="text" name="name" placeholder="Nombre Completo" required><br>
                        <input class="form-control" type="text" name="telefono" placeholder="Telefono" required><br>
                        <input class="form-control" type="text" name="porhora" placeholder="Por horas / no es por horas" required><br>


                        <input class="form-control" type="number" name="sueldo" placeholder="sueldo" required><br>

                        <input class="form-control" type="text" name="curp" placeholder="curp" required><br>

                        
                        <input class="form-control" type="text" name="profesion" placeholder="profesion" required><br>
                        <input class="form-control" type="text" name="estudios" placeholder="estudios" required><br>

                        <input class="form-control" type="mail" name="email" placeholder="mail@ejemplo.com" required><br>

                        <input class="form-control" type="text" name="rfc" placeholder="rfc" required><br>

                        <small>fecha de ingreso</small>
                        <input class="form-control" type="date" name="fingreso" placeholder="fingreso"  ><br>
                       
                       <input class="form-control" type="text" name="observaciones" placeholder="observaciones" required><br>
                        <br>


                    </form>
                </div>




            </div>

            <div id="menu4" class="tab-pane fade p3">
              <div>   <a href="" data-toggle="modal" onclick="return modal_reiniciarColegiaturas()"
                        data-target="#modal_dash" class="btn btn-warning pull-right">Reiniciar Colegiaturas</a>

                        <a href="" data-toggle="modal" onclick="return modal_GenerarInforme()"
                        data-target="#modal_dash" class="btn btn-success pull-right">Generar Informe Mensual</a>
                   </div> 
                <h3>Pagos</h3>
                <a class="btn btn-default pull-right hidden" id="backPagos"   onclick="return ShowPagos()" >Volver</a>
                <a class="btn btn-default pull-right hidden"   id="printRepo" onclick="return ImprimirReportePagos()" >Imprimir</a>
               <div id="pagosReporte" class="hidden" style="background-color:white;padding: 6%;">
               

               <div id="pagosReporte_both">
                    <div id="prescT" style="background-color:white">
                        <h4 style="background-color:white">  Preescoloar</h4>
                        <div class="top2 " style="background-color:white">
                                        <table class="table table-hover  " style="background-color:white">
                                            <thead>
                                                <tr>
                                                    <th scope="col">nombre</th>
                                                    <th scope="col">colegiatura </th>
                                                    <th scope="col">estado<div id="saldo_concepto"></div></th>                                    
                                                    

                                                </tr>
                                            </thead>
                                            <div><small id="preescolarTitle">  </small></div>
                                            
                                            <tbody id="preescolarT">

                                            </tbody>
                                        </table>
                                    </div>
                    </div>

                    <hr>

                    <h4 style="background-color:white"  >Primaria</h4>

                    <div id="primT" style="background-color:white">

                    <div class="top2 " style="background-color:white">
                                        <table class="table table-hover  " style="background-color:white">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Colegiatura </th>
                                                    <th scope="col">estado<div id="saldo_concepto"></div></th>                                    
                                                    

                                                </tr>
                                            </thead>
                                            <div><small id="primariaTitle">  </small></div>
                                            
                                            <tbody id="primariaT">

                                            </tbody>
                                        </table>
                                    </div>

                    </div>

                    </div>


                    <hr>

                   

                    <div id="deudores_div" style="background-color:white">
                        <h4 style="background-color:white">Clientes deudores</h4>

                        <div style="background-color:white" class="top2 ">
                                        <table class="table table-hover  ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col"> Parentesco </th>
                                                    <th scope="col"> Estado<div id="saldo_concepto"></div></th>                                    
                                                    

                                                </tr>
                                            </thead>
                                            <div><small id="deudoresTitle">  </small></div>
                                            
                                            <tbody id="deudoresT">

                                            </tbody>
                                        </table>
                                    </div>
                

                    </div>

                            <hr>                    
                   

                    <div id="totalpagos_div" style="background-color:white">
                        <h4 style="background-color:white">Total de Pagos</h4>

                        <div class="top2 ">
                                        <table class="table table-hover  " style="background-color:white">
                                            <thead>
                                                <tr>
                                                    <th scope="col">concepto</th>
                                                    <th scope="col"> fecha </th>
                                                    <th scope="col"> pago <div id=""></div></th>                                    
                                                    <th scope="col"> saldo a favor </th>
                                                    <th scope="col"> faldo pendiente </th>

                                                </tr>
                                            </thead>
                                            <div><small id="pagosCurrenTitle" style="background-color:white">  </small></div>
                                            
                                            <tbody id="pagosCurrenT" style="background-color:white">

                                            </tbody>
                                        </table>
                                    </div>
                

                    </div>

               </div>
               
               <div id="pagosStandar">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Pagos</li>

                         <li class="breadcrumb-item"><a onclick="return currentMonth()">Mes Actual</a></li>
                          <li class="breadcrumb-item"><a onclick="return currentYear()">Año Actual</a></li>
                        <li class="breadcrumb-item"><a onclick="return getpagosall()">Todos</a></li>
                    </ol>
                </nav>

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       
                    <div class="top2 ">
                          <table class="table table-hover table-wrapper-scroll-y">
                            <thead>
                                <tr>
                                    <th scope="col">concepto / fecha</th>
                                    <th scope="col">cantidad </th>
                                    <th scope="col"><div id="saldo_concepto"></div></th>                                    
                                    <th>Detalles</th>

                                </tr>
                            </thead>
                            <div><small id="tablepagostitle"   ></small></div>
                            <input type="text" id="myInputPagos" onkeyup="LookFor_Pagos()" placeholder="Buscar pago ..." class="form-control"   title="Type in a name">
                            <tbody id="pagosT">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="div_dash_pagos"></div>
                    <div class="col-lg-12">
                    <hr>
                    <small id="pagomes_count"></small>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <small>Estado de cliente segun pagos</small>
                    <hr>
                    <div id="pagos_chart">

                            <canvas id="myChart" width="100" height="70"></canvas>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">     
                
                <div >
                    <small>Clientes vigentes</small>
                    <hr>
                    <small id="clientes_count"></small>
                        <canvas id="myChartClientes" width="400" height="300"></canvas>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">     
                
                <div >
                    <small>Alumnos vigentes</small>                
                    <hr>
                    <small id="alumnos_count"></small>
                        <canvas id="myChartAlumnos" width="400" height="300"></canvas>

                    </div>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
            </div>
<script>

</script>

                {{! termina menu 4}}
            </div>


            <div id="menu5" class="tab-pane fade p3">
                <h3>expenses</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a  data-toggle="modal" data-target="#modal_dash" onclick="return modal_addTicket()">Agregar Ticket</a></li>

                    </ol>
                </nav>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       
                    <div class="top2 ">
                          <table class="table table-hover table-wrapper-scroll-y">
                            <thead>
                                <tr>
                                    <th scope="col">concepto </th>
                                    <th scope="col">cantidad </th>
                                    <th scope="col"><div>fecha</div></th>                                    
                                    <th>Detalles</th>

                                </tr>
                            </thead>
                            <div><small id="tableGastosTitle" ></small></div>
                            <input type="text" id="myInputGastos" onkeyup="LookFor_Gastos()" placeholder="Buscar pago ..." class="form-control"   title="Type in a name">
                            <tbody id="gastosT">

                            </tbody>
                        </table>
                    </div>
                </div>


                {{! termina menu 5}}
            </div>

        </div>
    </div>


    <a href=""></a>
</div>


<div id="modal_dash" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title_dash"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        
        <div class="modal-body" >
          <div id="modal_body_dash"></div>
        </div>
        <div class="modal-footer">
        
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
      </div>
      
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="/js/populatetablesadmin.js"></script>
<script src="/js/typeahead.min.js"></script>

<script src="/js/dashboard/pagos.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="/js/cliente/client.js"></script>

  <script>
    
    function ImprimirReportePagos(){
        
      var today = new Date();
      var dd = today.getDate();

      var mm = today.getMonth()+1; 
      var yyyy = today.getFullYear();
      if(dd<10) 
      {
          dd='0'+dd;
      } 

      if(mm<10) 
      {
          mm='0'+mm;
      } 
      today = mm+'-'+dd+'-'+yyyy;
    var name = 'Reporte General de Pagos JMAdmin '+today ;
   
        var pdf = new jsPDF();
              
              pdf.addHTML($("#pagosReporte_both"),function() {
              pdf.save(name+'.pdf');
          });

          ImprimirReportePagosDeudores();
}


   function ImprimirReportePagosDeudores(){
        
      var today = new Date();
      var dd = today.getDate();

      var mm = today.getMonth()+1; 
      var yyyy = today.getFullYear();
      if(dd<10) 
      {
          dd='0'+dd;
      } 

      if(mm<10) 
      {
          mm='0'+mm;
      } 
      today = mm+'-'+dd+'-'+yyyy;
    var name = 'Reporte General de Deudores JMAdmin '+today ;
   
        var pdf = new jsPDF();
              
              pdf.addHTML($("#deudores_div"),function() {
              pdf.save(name+'.pdf');
          });

          ImprimirReportePagosTotal();
}
 

   function ImprimirReportePagosTotal(){
        
      var today = new Date();
      var dd = today.getDate();

      var mm = today.getMonth()+1; 
      var yyyy = today.getFullYear();
      if(dd<10) 
      {
          dd='0'+dd;
      } 

      if(mm<10) 
      {
          mm='0'+mm;
      } 
      today = mm+'-'+dd+'-'+yyyy;
    var name = 'Reporte General de Total Pagos JMAdmin '+today ;
   
        var pdf = new jsPDF();
              
              pdf.addHTML($("#totalpagos_div"),function() {
              pdf.save(name+'.pdf');
          });
}




</script>

{{else}}
{{/if}}